/* This uses the logseq-dev-theme but the url can be changed to any theme's github url */
@import url("https://cdn.jsdelivr.net/gh/khoulihan/logseq-everforest-theme@master/custom.css");

.journals-nav { display: none; }
.flashcards-nav { display: none; }
.graph-view-nav { display: none; }
.all-pages-nav { display: none; }
.calendar-nav { display: none; }
.recent { display: none; }
.recent>div>.header { display: none !important; }
.favorites { display: none; }
.faviorites>div>.header { display: none !important; }
